# ARQUIVOS PARA GIT IGNORAR

estatistica/
01_25/Interfaces de Sistemas - UVA/
lfa/
02_25/PLP/tai_1/execução-tai1.mp4
02_25/PLP/tai_1/TAI-1.pdf

# Temporarios
01_25/Desenvolvimento Web/
02_25/BASESDEPROG