# ARQUIVOS PARA GIT IGNORAR

estatistica/
01_25/Interfaces de Sistemas - UVA/
lfa/
02_25/PLP/tai_1/execução-tai1.mp4
02_25/PLP/tai_1/TAI-1.pdf
.vscode

# Temporarios
01_25/Desenvolvimento Web/
02_25/PLP/tai_2

# Executáveis Bases de Prog 
02_25/BASESDEPROG/ex-aula/ex001.exe
02_25/BASESDEPROG/ex-aula/ex002.exe
02_25/BASESDEPROG/ex-aula/ex003.exe
02_25/BASESDEPROG/ex-aula/ex004.exe
02_25/BASESDEPROG/ex-aula/ex00.exe
02_25/BASESDEPROG/ex-aula/ex005.exe